
services:

  # a web server to handle incoming requests and forward them to wordpress php-fpm
  nginx:
    image: inception_nginx # image name
    build: requirements/nginx # build the container from that folder -> dockerfile
    container_name: nginx # name of the container
    restart: always # restart the container if it stops or crashes
    ports: # expose the ports to the host machine
      - "443:443"
    volumes: # file will store to the location in the container and also store in the volume name "wordpress"
      - wordpress:/var/www/html
    networks: # attach the container in docker network called inception
      - inception_net
    env_file:
      - .env

  # a web application write in php
  wordpress:
    image: inception_wordpress
    build: requirements/wordpress
    container_name: wordpress
    restart: always
    expose:
      - "9000" # expose port 9000 to other containers in the same network
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception_net
    depends_on: # ensure mariadb starts first
      - mariadb
    env_file: # load environment variables from .env file
      - .env

  # a database server to store wordpress data
  mariadb:
    image: inception_mariadb
    build: requirements/mariadb
    container_name: mariadb
    restart: always
    expose:
      - "3306"
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception_net

# create persistent storage for mariadb and wordpress data so that data is not lost when containers are removed or recreated
volumes:
  mariadb: # volume name
    name: mariadb
    driver: local # specify the data store in local host storage
    driver_opts: # options for how the "driver: local" should behave
      type: none # no mounting a specific device type ( just binding to a directory )
      o: bind # prevent docker manage the volume itself, instead create a direct link to a directory on the host machine
      device: ${DATA_PATH}/mariadb # if use "o: bind", must specify the host directory
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_PATH}/wordpress

# create a custom bridge network called inception for the containers to communicate securely
networks:
  inception_net: # name of the network for the containers to join
    name: inception_net # specify the network name
    driver: bridge # allow containers communicate each other but isolate them from container not in the same network